@font-face{
    font-family: '1942 report';
    src: url('/font/1942.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#header{
    height: 180px;
}
/*header styling*/
#main-header{
    width: 100%;
    height: 130px;
    background: #8076a3;
    float: left;
    margin-top: -13px;
}
/* logo的横幅 */
#logo{
    float: left;
    width: 250px;
    margin-top: 35px;
}
/* logo名字 */
#name{
    color: #d5d5d5;
    font-size: 46px;
    margin-left: 19px;
    font-family: '1942 report';
}
/* 搜索框 */
#search{
    margin-left: 150px;
    margin-top: 25px;
    float: left;
}
.search-bar input, 
.search-button,
.search-button:before,
.search-button:after {
    transition: all 0.25s ease-out;
}
/* search logo */
.search-bar input,
.search-button {
    width: 3em;
    height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-button{
    cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid{
    width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus)+
.search-button:focus{
    outline: transparent;
}
.search-bar{
    margin: auto;
    padding: 1em;
    justify-content: center;
    max-width: 25em;
}
.search-bar input{
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #d5d5d5 inset;
    padding:0.75em;
    transform: translate(0.5em, 0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.search-bar input::-webkit-search-decoration{
    -webkit-appearance: none;
}
.search-bar input:focus, 
.search-bar input:valid{
    background: #d5d5d5;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1);
}
.search-button{
    background: #d5d5d5;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
    transform-origin: 0 50%;
}
.search-button:before,
.search-button:after{
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
}
.search-button:before{
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #d5d5d5 inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
}
.search-button:after{
    background: #d5d5d5;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em, 0) rotate(45deg);
    transform-origin: 0 50%;
}
.search-button span{
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
}
/* 激活 */
.search-bar input:focus + .search-button,
.search-bar input:valid + .search-button{
    background: #8076a3;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
}
.search-bar input:focus + .search-button:before,
.search-bar input:focus + .search-button:after,
.search-bar input:valid + .search-button:before,
.search-bar input:valid + .search-button:after{
    opacity: 1;
}
.search-bar input:focus + .search-button:hover,
.search-bar input:valid + .search-button:hover,
.search-bar input:valid:not(:focus) + .search-button:focus{
    background: #d5d5d5;
}
.search-bar input:focus + .search-button:active,
.search-bar input:valid + .search-button:active{
    transform: translateY(1px);
}
@media screen and (prefers-color-scheme: dark){
    body, input{
        color: #f1f1f1;
    }
    body{
        background: #8076a3;
    }
    .search-bar input{
        box-shadow: 0 0 0 0.4em #f1f1f1 inset;
    }
    .search-bar input:focus,
    .search-bar input:valid{
        background: #8076a3;
        box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    .search-button{
        background: #f1f1f1;
    }
}
/* 菜单 */
#menu{
    width: 150px;
    margin-right: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 15px;
}
/* 菜单和购物 */
.account, .checkout {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}
.btn{
    width: 80px;
    height: 30px;
    font-family: 'Courier New';
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #7c677f;
    background-color: #DEDDDC;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.btn:hover{
    background-color: #96858f;
    box-shadow: 0px 15px 20px #f9c5bd;
    color: #fff;
    transform: translateY(-7px);
}
/* mens ans womens */
.dropbtn {
    background-color: transparent;
    color: #d5d5d5;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Source Code Pro';
    border-radius: 13px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #7c677f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #DEDDDC}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
    color: #f9c5bd;
}

#mensandwomens{
    text-align: center;
    background-color: #8076a3;
    margin-top: 130px; /* womens和mens的横幅 */
    height: 50px;
}